#header {
  color: red;
  text-align: center;
}

:root{
  --canvas-width: 100px;
  --canvas-height: 100px;
}

#canvas {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: var(--canvas-width);
  height: var(--canvas-height);
  border: 3px solid #000;
  background: #008000;


}
